html, body { overflow-x: hidden; }

[class*='col-'] {
  margin-bottom: 20px;
}

.pt {
  padding-top: 20px;
}

.pb {
  padding-bottom: 20px;
}

.navbar {
  background-color: rgba(0, 135, 206, 0);
  min-height: 80px;
}

.navbar ul {
  width: 75%;
}

.navbar .navbar-nav .nav-link {
  color: rgba(0, 135, 206, 1);
  font-weight: 900;
  font-family: 'Delius Unicase', cursive;
  transition: color .5s;
}

.navbar .navbar-nav .nav-link:hover {
  color: black !important;
}

.quotes {
  background-image: url('../resources/clouds_bg.jpg');
  background-size: cover;
  height: 500px;
}

.quotes .blockquote p {
  white-space: pre-wrap;
  font-family: 'Handlee', cursive;
  font-size: 120%;
}

.quotes .blockquote footer {
  font-family: 'Berkshire Swash', cursive;
}

.section-title {
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
}

.about-me {
  background: #F1F5F6 url('https://www.boxclever.ca/public/img/grey_bg.jpg') left top repeat;
}

.about-me h4 {
  font-family: 'Handlee', cursive;
}

.about-me img {
  max-width: 50%;
}

.my-projects {
  background: url('https://www.boxclever.ca/public/img/logo_pattern.jpg') left top repeat;
}

.my-projects img {
  opacity: 0.8;
  cursor: pointer;
}

.my-projects h3 {
  background-color: #001f22;
  display: inline;
  font-weight: 700;
  font-family: 'Handlee', cursive;
  font-size: 80%;
}

.links {
  background-color: #D1D8DE;
}

.links img {
  max-width: 60px;
}

.contact-me {
  background: #F1F5F6 url('https://www.boxclever.ca/public/img/grey_bg.jpg') left top repeat;
}

.contact-me svg {
  max-width: 60px;
  margin-bottom: 8%;
  transition: fill .5s;
}

.contact-me svg:hover  {
  cursor: pointer;
  fill: #0087ce;
}

.contact-me p {
  display: none;
  font-family: 'Handlee', cursive;
}

@media (min-width: 768px) {
  .about-me img {
    max-width: 40%;
  }

  .links img {
    max-width: 70px;
  }

  .contact-me svg {
    max-width: 70px;
  }

  .my-projects h3 {
    font-size: 175%;
  }
}
